<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Book Recommendations</title>
</head>
<body class="bg-green-500">

    <div class="flex flex-col items-center">
        <div class="text-xl text-white mt-20">Search book:</div>
            <form class="flex flex-row" action="/result" method="post">

                <div>{{ form.search }}</div>
                <div>{{ form.submit(class="text-white ml-4 bg-green-500") }}</div>

            </form>


    </div>

{% block result %}
{% endblock %}


</body>
</html>